header {
  background: url("../public/images/header.png"); 
  background-size: cover;
  margin: -25px;
  height: 280px;
}

@media only screen and (max-width: 600px) {
  header {
    height:200px;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("../public/images/rainforest.png");
  background-size: cover;
  margin:25px;
}

nav {
  float: right;
}

.nav-link {
  padding: 10px;
}

.nav-link:hover {
  background: darkslategray;
}

.headLogo {
  margin: 50px 0 0 20px;
}

@media only screen and (max-width: 600px) {
  .headLogo {
    width:200px;
  }
}

