#box1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 70%;
  height: atuo;
  background: white;
  margin: 12.5%;
  padding: 50px;
  border: 2pt black solid;
  box-shadow: 2px 2px 4px rgb(29, 28, 28);
}

#title {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: darkblue;
  font-weight: 300%;
}

.recBox {
  background: whitesmoke;
  width: 20%;
  border: 2pt black solid;
  padding: 30px;
  margin: 10px;
  text-align: center;
}
